{% extends "accounts/base_accounts.html" %}

{% block title %}Відновлення пароля{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron mt-4">
            <h4>Лист надіслано! <i class="far fa-envelope-open"></i></h4>
            <p class="lead">Ми надіслали на вказаний email лист з посиланням для відновлення пароля.</p>
            <hr class="my-4">
            <p>
                Лист буде доставлений протягом кількох хвилин. Якщо Ви все ж не бачите його в себе на пошті, перевірте
                папку зі спамом або спробуйте ще раз.
            </p>
        </div>
    </div>
{% endblock %}