{% extends "accounts/base_accounts.html" %}
{% load widget_tweaks %}

{% block title %}Відновлення пароля{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h5 class="text-center my-4">Забули пароль?</h5>
                <div class="text-center">
                    <i class="fas fa-unlock-alt fa-5x"></i>
                </div>
                <p class="text-center mt-3">Введіть Ваш email і ми відправимо лист для відновлення пароля.</p>
                <form action="" method="post">{% csrf_token %}
                    <div class="input-group input-group-lg my-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="email-addon"><i class="fas fa-at"></i></span>
                        </div>

                        {% render_field form.email class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon" %}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Відновити пароль</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}