{% extends "accounts/base_accounts.html" %}

{% block title %}Пароль змінено{% endblock %}

{% block content %}
    <div class="container">
        <div class="alert alert-success mt-5 text-center" role="alert">
            <h4>Пароль змінено! <i class="fas fa-key"></i></h4>
            <p class="lead">
                Тепер Ви можете <a href="{% url "accounts:login" %}">увійти <i class="fas fa-sign-in-alt"></i></a> ,
                використовуючи новий пароль.
            </p>
        </div>
    </div>
{% endblock %}